h1{
    color: #ffffff; font-size: 50px;

}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }
 body{
    background: rgb(5, 30, 114);
 }
 .menu{
    width: 1000px;
    margin: 30px auto;
    background: rgb(253, 253, 253)
 }
 .menus ul {
    list-style: none;
 }
 
 .menus > li{
    display: inline-block
 }

 .menus > li > a{
    display: block;
    padding: 15px 20px;
    color: #540d92;
    font-family: fantasy;
    text-decoration: none;
 }
 .menus li a:hover{
    color: aqua;
       
 }
