h1{
    color: #0e15e0; font-size: 50px;

}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }
 body{
    background: rgb(255, 254, 254);
 }
 .menu{
    width: 1000px;
    margin: 30px auto;
    background: rgb(23, 99, 150)
 }
 .menus ul {
    list-style: none;
 }
 
 .menus > li{
    display: inline-block
 }